:root {
    --color-primary: #2ea3f2;
    --color--secondary: ;
    --color-text: #666;
    --color-botton:rgba(250, 246, 246, 0);
    --font-main: Roboto-bold;
    --font-text: Roboto-regular;
}

/* Main settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font_text);
    color: var(--color-text);
}

@font-face {
    font-family: Roboto-bold;
    src: url('../fonts/Roboto-Bold.ttf')
}

@font-face {
    font-family: Roboto-regular;
    src: url('../fonts/Roboto-Regular.ttf')
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--font-main);
}
/* End main settings */

/* Layout settings */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: var(--color-primary); 
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw; 
}
nav ul li {
    padding: 30px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: var(--font-main);
}
nav ul li a:hover{
    color: var(--color-text);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    margin: 50px; 
}
.list{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-text);
    width: 50%;
    list-style-type: none;

}
.list li{
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid var(--color-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}
.btn-detail{
    background-color: var(--color-botton);
    color: var(--color-text);
}
.btn:hover{
    background-color: var(--color-text);
    color: white;
}
.btn-edit{
    background-color: var(--color-botton);
    color: var(--color-text);
}
.btn-edit:hover{
    background-color: #ffee00;
    color:var(--color-text)
}
.btn-delete{
    background-color: var(--color-botton);
    color: var(--color-text);
}
.btn-delete:hover{
    background-color: #ee1240;
    color: white;
}
.search{
    margin: 15px;
    width: 50%;
}
.search-bar{
    padding: 0px;
    width: 80%;
    font-size: 15px;
}
.search-bar:hover{
    background-color: var(--color-text);
    color: white;
}
.btn-search{
    width: 19%;
}
.btn-search:hover{
    background-color: var(--color-text);
    color: white;
}
.aux-btns{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}
.aux-btns a{
    padding-right: 10px;
    text-decoration: none;
}
.aux-btns a:hover{
    background-color: var(--color-text);
    color: white;
}
.alert-succes{
    width: 100%;
    padding: 10px;
    background-color: rgb(117, 218, 152);
    color: white;
}
/* End layout settings */