{% extends 'layout/base.html'%}

{% block 'title' %}CONTACT |{{ contact.name }}  {% endblock %}

{% block 'content'%}
<span class='aux-btns'><a href="{% url 'contact' %}">Back</a></span>
<ul class='list'>
    <li><b>Nombre: </b>{{ contact.name }}</li>
    <li><b>Apellidos: </b>{{ contact.last_name }}</li>
    <li><b>Phone: </b>{{ contact.phone }}</li>
    <li><b>Movil </b>{{ contact.movil }}</li>
    <li><b>Email: </b>{{ contact.email }}</li>
    <li><b>Compania: </b>{{ contact.compania }}</li>
    <li><b>Fecha: </b>{{ contact.date }}</li>
    <li><b>Notas: </b>{{ contact.notes }}</li>
</ul>
{% endblock %}
