{% extends 'layout/base.html' %}

{% block 'title' %}CONTACT{% endblock %}
{% block 'content' %}
<form class="search" action="{% url 'contact' %}" method="GET">
    <input class="search-bar" type="text" name="search" placeholder='Buscar contacto'>
    <input class="btn-search" type="submit" value="Buscar">
</form>
<span class="aux-btns">
    <a href="{% url 'contact' %}">Ver todos</a>
    <a href="#">Añadir</a>
</span>
    <ul class="list">
        {% for contact in contacts %}
            <li> {{ contact }}
                <span>
                    <a href="{% url 'contact_views' id=contact.id %}" class="btn btn-detail">Ver</a>
                    <a href="{% url 'contact_edit' id=contact.id %}" class="btn btn-edit">Edit</a>
                    <a href="#" class="btn btn-delete">Delete</a>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}